.container {
    margin-top: 1rem;
}

.btn {
    margin-bottom: 1rem;
}

.btn-clipboard {
    position: relative;
    right: 51px;
    border-radius: 0 4px 0 4px;
}

.zeroclipboard-is-hover {
    color: #fff;
    border-color: #563d7c;
    background-color: #563d7c;
}